feature_db/*
feature_db
*.yuv
*.db
*.smp
*.so
*.o
*.out
src/test/*
*tags
*.omf
run_*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# third_party lib
# don't change this lib. it's a x64 version
libgtest.a

# unused third_party
src/third_party/sparsehash/

# unittest exec
unittest_*
